.footer{
    background-image: linear-gradient(to top, #8e5d65, #b3374c);
    color: white;
    margin: 0%;
    padding: 0%;
    width: 100%;
   
    .imgFooter{
        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
        img{
            margin-top: 10px;
        }
    }
    ul {
        
        li{ display: inline; 
            
           
            .logoFooter{
                text-align: left;
                margin-top: 5px;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

    }

}
