.header {

    background-image: linear-gradient(to top, #8e5d65,#b3374c);
    color: white;
    padding-top: 10px;
    .contenedorLogo{


        @media screen and (max-width: 768px ){ 
            display: none;
        }
        display: flex;
        flex-flow: column wrap;
        justify-content: start;

        .logo{
            width: 80px;
            margin: 0;
        }
    }

    .navBar {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 768px ){}

        ul{

            li{
                display: inline;
                margin: 0px 3px ;
                    a{
                        color: aliceblue;
                    }
                &:hover{
                    border: solid 1px black;
                }
            }
        }


    }
}


.contenido{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.colorLinks{ color: white; }
.botonMenu{ display: none; }