@import "./__contenido";
@import "./__footer";
@import "./__header";


.body{
    
    background-image: url(../imagenes/abstract-999662.jpg);
}

.fondo{

    background-image: url(../imagenes/fondo.jpg);
}





html{ font-family: Georgia, 'Times New Roman', Times, serif; }

body{

    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.contenedorDeContacto{
    margin-top: 100px ;
    margin-bottom: 300px;
  
  }


section{
    .tituloDise{
        color: rgb(255, 255, 255);
    }
}
