@import "./_contenido";
@import "./_footer";
@import "./_header";




@media screen and (max-width: 768px ){ 
    .header {
        
        .navBar{ 

        display: flex; 
        justify-content: space-evenly; 
        flex-flow: wrap row; 
        font-size: 20px; 
    
    } 
}
        
            .contenedorLogo { 
                display: none;
            } 
        
    
}


html{ font-family: Georgia, 'Times New Roman', Times, serif; }

body{

    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


